body {
    margin: 0;
    padding: 0;
    background: url('https://zastavki.gas-kvas.com/uploads/posts/2024-09/zastavki-gas-kvas-com-vadz-p-zastavki-na-rabochii-stol-netfliks-7.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.forgot-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.forgot-password-form {
    background: rgba(255, 255, 255, 0.388);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.forgot-password-form h2 {
    margin-bottom: 20px;
}

.forgot-password-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password-form button {
    width: 80%;
    padding: 10px;
    background-color: #d31c1c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.forgot-password-form button:hover {
    background-color: #720e0e;
}

.forgot-password-form p {
    margin-top: 10px;
    color: #333;
}

@media (max-width: 600px) {
    .forgot-password-form {
        max-width: 90%;
    }
}
